version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: edu-postgres
    restart: always
    environment:
      POSTGRES_DB: educational_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  minio:
    image: minio/minio
    container_name: edu-minio
    restart: always
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minio_user
      MINIO_ROOT_PASSWORD: minio_password
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

  redis:
    image: redis:7-alpine
    container_name: edu-redis
    restart: always
    ports:
      - "6379:6379"

volumes:
  postgres_data:
  minio_data: