.auth-page{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1a1a1a;
}

.auth-card{
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.auth-card h2 {
  margin-bottom: 1.5rem;
  color: #646cff;
}

.auth-form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input{
  padding: auto;
  border: 1px;
  border-radius: 6px;
  font-size: 1rem;
  outline: none;
}

.submit-btn {
  background-color: #2563eb;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s;
  margin-top: 10px;
}

.submit-btn:hover {
  background-color: #1d4ed8;
}

.toggle-mode {
  margin-top: 1.5rem;
  font-size: 0.9rem;
  color: #666;
}

.toggle-mode span {
  color: #2563eb;
  font-weight: bold;
  cursor: pointer;
}

.toggle-mode span:hover {
  text-decoration: underline;
}